body {
    background-color: rgb(170, 228, 247);
    transition: background-color 400ms ease
}

header {
    display: flex;
    justify-content: right;
    
}

button {
    background-image: linear-gradient(rgb(78, 202, 243), white);
    width: 100px;
    font: inherit;
}

a {
    
    text-decoration: none;

}

.dark button {
    background-image: linear-gradient(rgb(62, 63, 63), white);
    width: 100px;
    font: inherit;
}


.dark a {
    color: white;
    text-decoration: none;
    background-color: gray;
}

main {
    display: flex;
    justify-content: center;
    background-color: rgb(78, 202, 243);
    transition: background-color 400ms ease;
    padding: 100px;

}

.dark {
    background-color: gray;
    transition: background-color 400ms ease
}

.dark main{
    border-radius: 20px 20px;
    background-color: rgb(54, 54, 54);
    transition: background-color 400ms ease
}

.dark label {
    color: white;
    transition: background-color 400ms ease
}

#my-form {
    min-width: fit-content;
   
}



#content-input {
    text-wrap: wrap;
    max-height: fit-content;
    max-width: fit-content;
}


